@model EmpDepartmentList
@{
    SelectList listItems = new SelectList(Model.Departments, "Id", "Name");
}


<form method="post" asp-controller="employee" asp-action="SaveAdd" class="form-control form">
      
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label for="ImageURL" class="form-label">ImageURL</label>
        <input asp-for="ImageURL" class="form-control" />
        <span asp-validation-for="ImageURL" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label for="Salary" class="form-label">Salary</label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>

    </div>
     <div class="mb-3">
        <label for="JobTitle" class="form-label">JobTitle</label>
     <input asp-for="JobTitle" class="form-control" />
        <span asp-validation-for="JobTitle" class="text-danger"></span>

 </div>
    <label asp-for="DepartmentId"></label>
    @*<input type="text" value="@Model?.DepartmentId" name="DepartmentId" id="DepartmentId" class="form-control form" />*@
    @* type="text" name="DepartmentId" id="DepartmentId" *@
    <select asp-for="DepartmentId" asp-items="listItems" class="form-control form">
        <option value="0">SelectItem</option>
       
    </select>
    <span asp-validation-for="DepartmentId"></span>



    <div class="d-flex justify-content-between mt-4">
        <a asp-action="index" asp-controller="employee" class="btn btn-secondary">Back to List</a>
        <input type="submit" value="Submit" class="btn btn-danger" />
    </div>

</form>

@section Scripts{
    <!-- jQuery (Required for validation) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- jQuery Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- jQuery Unobtrusive Validation -->
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

